# cljs
/resources/public/js/compiled/**
/resources/public/voicebox/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port


*.sublime-project
*.sublime-workspace


nohup.out